
<!-- contents -->
<div class="uk-grid-collapse" uk-grid>
    <div class="uk-width-1-1@m">
        <div class="chats-container margin-top-0">
            <div class="chats-container-inner">
                <!-- chats -->
                <div class="chats-inbox">
                    <div class="chats-headline">
                        <div class="input-with-icon">
                            <input class="uk-input" type="text" placeholder="Search">
                        </div>
                    </div>

                    <ul>
                        <li>
                            <a href="#">
                                <div class="message-avatar"><i
                                        class="status-icon status-online"></i><img
                                        src="assets/images/avatars/avatar-2.jpg" alt="" /></div>

                                <div class="message-by">
                                    <div class="message-by-headline">
                                        <h5>Jonathan Madano </h5>
                                        <span>4 hours ago</span>
                                    </div>
                                    <p>You: Yes, in an organization stature, this is a must</p>
                                    <span class="message-readed uil-check"> </span>
                                </div>
                            </a>
                        </li>

                        <li class="active-message">
                            <a href="#">
                                <div class="message-avatar"><i
                                        class="status-icon status-online"></i><img
                                        src="assets/images/avatars/avatar-2.jpg" alt="" /></div>

                                <div class="message-by">
                                    <div class="message-by-headline">
                                        <h5>Stella Johnson </h5>
                                        <span>Yesterday</span>
                                    </div>
                                    <p>What are you doing?</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- chats / End -->

                <!-- Message Content -->
                <div class="message-content">

                    <div class="chats-headline">

                        <div class="uk-flex">
                            <img src="assets/images/avatars/avatar-3.jpg" width="40px"
                                class="uk-border-circle" alt="">
                            <h4 class="ml-2"> Alex Dolgove <span>Online</span> </h4>
                        </div>

                        <div class="message-action">
                            <a href="#" uk-tooltip="Tùy chọn">
                                <i class="uil-ellipsis-h"></i>
                            </a>
                            <div
                                uk-dropdown="pos: left ; mode: click ;animation: uk-animation-slide-bottom-small">
                                <ul class="uk-nav uk-dropdown-nav">
                                    <li><a href="#" class="uk-text-danger"> Xóa tất cả tin nhắn </a></li>
                                </ul>
                            </div>
                        </div>

                    </div>

                    <!-- Message Content Inner -->
                    <div class="message-content-inner">

                        <!-- Time Sign -->
                        <div class="message-time-sign">
                            <span>28 June, 2018</span>
                        </div>

                        <div class="message-bubble me">
                            <div class="message-bubble-inner">
                                <div class="message-avatar"><img
                                        src="assets/images/avatars/avatar-1.jpg" alt="" />
                                </div>
                                <div class="message-text">
                                    <p>How likely are you to recommend our company
                                        to your friends and family?</p>
                                </div>
                            </div>
                            <div class="uk-clearfix"></div>
                        </div>

                        <div class="message-bubble">
                            <div class="message-bubble-inner">
                                <div class="message-avatar"><img
                                        src="assets/images/avatars/avatar-2.jpg" alt="" />
                                </div>
                                <div class="message-text">
                                    <p>Hey there, we’re just writing to let you know 👍</p>
                                </div>
                            </div>
                            <div class="uk-clearfix"></div>
                        </div>

                        <div class="message-bubble me">
                            <div class="message-bubble-inner">
                                <div class="message-avatar"><img
                                        src="assets/images/avatars/avatar-1.jpg" alt="" />
                                </div>
                                <div class="message-text">
                                    <p>Ok, Understood! 😉</p>
                                </div>
                            </div>
                            <div class="uk-clearfix"></div>
                        </div>


                        <!-- Time Sign -->
                        <div class="message-time-sign">
                            <span>Yesterday</span>
                        </div>

                        <div class="message-bubble me">
                            <div class="message-bubble-inner">
                                <div class="message-avatar"><img
                                        src="assets/images/avatars/avatar-1.jpg" alt="" />
                                </div>
                                <div class="message-text">
                                    <p> I just wanted to let you know You’ll receive notifications for
                                        all issues, pull requests!.</p>
                                </div>
                            </div>
                            <div class="uk-clearfix"></div>
                        </div>

                        <div class="message-bubble">
                            <div class="message-bubble-inner">
                                <div class="message-avatar"><img
                                        src="assets/images/avatars/avatar-2.jpg" alt="" />
                                </div>
                                <div class="message-text">
                                    <p>You were automatically subscribed
                                        because you’ve been given access to the repository 😎</p>
                                </div>
                            </div>
                            <div class="uk-clearfix"></div>
                        </div>

                        <div class="message-bubble me">
                            <div class="message-bubble-inner">
                                <div class="message-avatar"><img
                                        src="assets/images/avatars/avatar-1.jpg" alt="" />
                                </div>
                                <div class="message-text">
                                    <p>Ok But don't forget about last payment. 🙂</p>
                                </div>
                            </div>
                            <div class="uk-clearfix"></div>
                        </div>

                        <div class="message-bubble">
                            <div class="message-bubble-inner">
                                <div class="message-avatar"><img
                                        src="assets/images/avatars/avatar-2.jpg" alt="" />
                                </div>
                                <div class="message-text w-auto uk-flex"> Typing..
                                    <!-- Typing Indicator -->
                                    <div class="typing-indicator">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-clearfix"></div>
                        </div>
                    </div>
                    <!-- Message Content Inner / End -->

                    <!-- Reply Area -->
                    <div class="message-reply">

                        <form class="uk-flex-middle uk-width-1-1" uk-grid>
                            <div class="uk-flex uk-flex-middle mr-3 uk-width-auto">
                                <a href="#" class="button primary" uk-tooltip="Gửi ảnh">
                                    <i class="uil-image"></i>
                                </a>
                            </div>

                            <textarea class="uk-textarea uk-width-expand" rows="5"
                                placeholder="Nhập tin nhắn..." data-autoresize></textarea>

                            <button type="submit" class="button primary uk-width-auto">
                                <i class="uil-arrow-right"></i>
                            </button>

                        </form>

                    </div>
                </div>
                <!-- Message Content -->
            </div>
        </div>
        <!-- chats Container / End -->
    </div>
</div>