
<!-- contents -->
<div class="uk-grid-collapse" uk-grid>
    <div class="uk-width-1-1@m">
        <div class="chats-container margin-top-0">
            <div class="chats-container-inner">
                <!-- chats -->
                <div class="chats-inbox">
                    <div class="chats-headline">
                        <div class="input-with-icon">
                            <input class="uk-input" type="text" placeholder="Search">
                        </div>
                    </div>

                    <ul>
                        <li *ngFor="let item of mess_box">
                            <a (click)="getAllMessage(item)">
                                <div class="message-avatar">
                                    <i class="status-icon status-online"></i>
                                    <img src="{{item.avatar | getImage}}" alt="." />
                                </div>
                                <div class="message-by">
                                    <div class="message-by-headline">
                                        <h5>{{item.to_name}}</h5>
                                    </div>
                                    <p>{{item.content}}</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- chats / End -->

                <!-- Message Content -->
                <div class="message-content" *ngIf="user_focus">
                    <div class="chats-headline">
                        <div class="uk-flex">
                            <img src="{{user_focus.avatar | getImage}}" width="40px"
                                class="uk-border-circle" alt="">
                            <h4 class="ml-2"> {{user_focus.to_name}} <span>Online</span> </h4>
                        </div>

                        <div class="message-action">
                            <a href="#" uk-tooltip="Tùy chọn">
                                <i class="uil-ellipsis-h"></i>
                            </a>
                            <div
                                uk-dropdown="pos: left ; mode: click ;animation: uk-animation-slide-bottom-small">
                                <ul class="uk-nav uk-dropdown-nav">
                                    <li><a href="#" class="uk-text-danger"> Xóa tất cả tin nhắn </a></li>
                                </ul>
                            </div>
                        </div>

                    </div>

                    <!-- Message Content Inner -->
                    <div class="message-content-inner" id="message-content">

                        <div *ngFor="let item of mess_focus" class="message-bubble" [ngClass]="{me: item.from_id == authService.userValue.id}">
                            <div class="message-bubble-inner">
                                <div class="message-avatar">
                                    <img *ngIf="item.from_id == authService.userValue.id || item.to_id == authService.userValue.id" src="{{item.from.avatar | getImage}}" alt="{{item.from.name}}" />
                                </div>
                                <div class="message-text">
                                    <p>{{item.content}}</p>
                                </div>
                            </div>
                            <div class="uk-clearfix"></div>
                        </div>

                        <span id="scroll-to-bottom"></span>
                    </div>
                    <!-- Message Content Inner / End -->

                    <!-- Reply Area -->
                    <div class="message-reply">
                        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="uk-flex-middle uk-width-1-1" uk-grid>
                            <div class="uk-flex uk-flex-middle mr-3 uk-width-auto">
                                <a class="button primary" uk-tooltip="Gửi ảnh">
                                    <i class="uil-image"></i>
                                </a>
                            </div>

                            <input type="text" formControlName="content" class="uk-textarea uk-width-expand" placeholder="Nhập tin nhắn..." data-autoresize/>

                            <button type="submit" class="button primary uk-width-auto">
                                <i class="fa fa-send-o"></i>
                            </button>
                        </form>
                    </div>
                </div>
                <!-- Message Content -->
            </div>
        </div>
        <!-- chats Container / End -->
    </div>
</div>