
<!-- contents -->
<div class="uk-grid-collapse" uk-grid>
    <div class="uk-width-1-1@m">
        <div class="chats-container margin-top-0">
            <div class="chats-container-inner">
                <!-- chats -->
                <div class="chats-inbox">
                    <div class="chats-headline">
                    </div>

                    <ul>
                        <li *ngFor="let item of mess_box" [ngClass]="{'active-message': item.last_message.status == 0}">
                            <a (click)="getAllMessage(item)">
                                <div class="message-avatar">
                                    <i class="status-icon" [ngClass]="{
                                        'status-online': socket.checkStatus(item.to_user.id),
                                        'status-offline': !socket.checkStatus(item.to_user.id)
                                    }"></i>
                                    <img src="{{item.to_user.avatar | getImage}}" alt="." />
                                </div>
                                <div class="message-by">
                                    <div class="message-by-headline">
                                        <h5>{{item.to_user.full_name}}</h5>
                                        <span>{{item.last_message.created_at | timeago:1}}</span>
                                    </div>
                                    <p [ngStyle]="{fontWeight: item.last_message.status == 0 ? 'bold' : 'normal'}">{{item.last_message.content}}</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- chats / End -->

                <!-- Message Content -->
                <div class="message-content" *ngIf="user_focus">
                    <div class="chats-headline">

                        <div class="uk-flex">
                            <img src="{{user_focus.to_user.avatar | getImage}}" width="40px" height="40px" class="uk-border-circle" alt="">
                            <h4 class="ml-2">
                                {{user_focus.to_user.full_name}}
                                <span>{{socket.checkStatus(user_focus.to_user.id) ? 'Đang hoạt động' : 'Không hoạt động'}}</span>
                            </h4>
                        </div>

                        <div class="message-action">
                            <a href="#" uk-tooltip="filter" title="" aria-expanded="false">
                                <i class="uil-outgoing-call"></i>
                            </a>
                            <a href="#" uk-tooltip="filter" title="" aria-expanded="false">
                                <i class="uil-video"></i>
                            </a>
                            <a href="#" uk-tooltip="More" title="" aria-expanded="false">
                                <i class="uil-ellipsis-h"></i>
                            </a>
                            <div uk-dropdown="pos: left ; mode: click ;animation: uk-animation-slide-bottom-small" class="uk-dropdown">
                                <ul class="uk-nav uk-dropdown-nav">
                                    <li><a href="#"> Xóa cuộc hội thoại</a></li>
                                </ul>
                            </div>
                        </div>

                    </div>

                    <!-- Message Content Inner -->
                    <div class="message-content-inner" id="message-content">
                        
                        <div class="sp sp-circle" *ngIf="loadMoreSpinner"></div>
                        
                        <div
                            infinite-scroll
                            infiniteScrollContainer=".message-content-inner"
                            [infiniteScrollDistance]="2"
                            [infiniteScrollThrottle]="500"
                            [fromRoot]="true"
                            (scrolledUp)="onLoadMore()">
                        </div>

                        <div *ngFor="let item of mess_focus" class="message-bubble" [ngClass]="{me: item.from_user.id == authService.userValue.id}">
                            <div class="message-bubble-inner">
                                <div class="message-avatar" pTooltip="{{item.from_user.id == authService.userValue.id && item.status != 0 ? 'Đã xem, ' : ''}}{{item.created_at | timevn}}" tooltipPosition="{{item.from_user.id == authService.userValue.id ? 'right' : 'left'}}">
                                    <img *ngIf="item.from_user.id == authService.userValue.id || item.to_user.id == authService.userValue.id" src="{{item.from_user.avatar | getImage}}" alt="{{item.from_user.full_name}}" />
                                    <i class="fa fa-eye" *ngIf="item.from_user.id == authService.userValue.id && item.status != 0"></i>
                                </div>
                                <div class="message-text">
                                    <p>{{item.content}}</p>
                                </div>
                            </div>
                            <div class="uk-clearfix"></div>
                                
                            <ng-container *ngIf="item.media.length > 0">
                                <div class="message-media">
                                    <ng-container *ngFor="let image of item.media">
                                        <img *ngIf="image.indexOf('data:') != -1" [src]="image" class="rounded" alt=".">
                                        <img *ngIf="image.indexOf('data:') == -1" src="{{image | getImage:2}}" class="rounded" alt=".">
                                    </ng-container>
                                </div>
                            </ng-container>
                            <div class="uk-clearfix"></div>
                        </div>

                        <span id="scroll-to-bottom"></span>
                    </div>
                    <!-- Message Content Inner / End -->

                    <!-- Reply Area -->
                    <form [formGroup]="form" (ngSubmit)="onSubmit()">

                        <div class="message-reply" *ngIf="fileupload_preview && fileupload_preview.length > 0">
                            <div class="uk-grid-small" uk-grid>
                                <div *ngFor="let image of fileupload_preview">
                                    <img [src]="image" [ngStyle]="{height: '60px'}" class="rounded" alt=".">
                                </div>
                                <button (click)="remeveAllFileUpload()" type="button" class="button primary uk-width-auto ml-3">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </div>
                        </div>

                        <div class="message-reply">
                            <div class="uk-flex-middle uk-width-1-1" uk-grid>
                                <div class="uk-flex uk-flex-middle mr-3 uk-width-auto">
                                    <a (click)="openSelectFileUpload()" class="button primary" uk-tooltip="Gửi ảnh">
                                        <i class="uil-image"></i>
                                    </a>
                                </div>

                                <input type="text" formControlName="content" class="uk-textarea uk-width-expand" placeholder="Nhập tin nhắn..." data-autoresize/>

                                <button type="submit" class="button primary uk-width-auto ml-3">
                                    <i class="fa fa-send-o"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <input style="display: none;" type="file" accept="image/*" multiple data-upload (change)="selectFileUpload($event.target.files)">
                </div>
                <!-- Message Content -->
            </div>
        </div>
        <!-- chats Container / End -->
    </div>
</div>