<div *ngIf="newfeed_view && user" class="uk-grid-large" uk-grid>
    <div class="uk-width-2-3@m fead-area">
        <div class="post">
            <div class="post-heading">
                <div class="post-avature">
                    <img src="{{newfeed_view.user.avatar | getImage}}" alt="{{newfeed_view.user.full_name}}">
                </div>
                <div class="post-title">
                    <a [routerLink]="['/profile', newfeed_view.user.id]"><h4> {{newfeed_view.user.full_name}} </h4></a>
                    <p> {{newfeed_view.created_at | timeago}} <i class="uil-clock"></i> </p>
                </div>
        
                <div class="post-btn-action" *ngIf="newfeed_view.user.id == user.id">
                    <span class="icon-more uil-ellipsis-h"></span>
                    <div class="mt-0 p-2" uk-dropdown="pos: bottom-right;mode:hover ">
                        <ul class="uk-nav uk-dropdown-nav">
                            <li><a (click)="onDelete(newfeed_view)" class="text-danger"> <i class="uil-trash-alt mr-1"></i> Xóa </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="post-description">
                <p *ngIf="newfeed_view.content">{{newfeed_view.content}}</p>
        
                <ng-container *ngFor="let item of newfeed_view.media">
                    <div class="uk-grid-small" uk-grid>
                        <div class="uk-width-1-1@m">
                            <img src="{{item | getImage:1}}" class="rounded" alt=".">
                        </div>
                    </div>
                </ng-container>
        
                <div class="post-state-details">
                    <div class="cursor-pointer" (click)="openModalUserLikes(newfeed_view)">
                        <img src="assets/images/icons/reactions_like.png" alt="">
                        <p> {{newfeed_view.count_like}} </p>
                    </div>
                    <p> {{newfeed_view.count_comment}} Bình luận</p>
                </div>
        
            </div>
        
            <div class="post-state">
                <div class="post-state-btns" [ngClass]="{'active': newfeed_view.liked}" (click)="onLike(newfeed_view)"> <i class="uil-thumbs-up"></i> <span> Thích </span> </div>
                <div class="post-state-btns" (click)="focusComment()"> <i class="uil-comment-alt-dots"></i> <span> Bình luận</span> </div>
            </div>
        
            <!-- post comments -->
            <div class="post-comments">

                <div *ngIf="loadMoreSpinner" class="sp sp-circle"></div>
                <a *ngIf="loadMore && !loadMoreSpinner" (click)="onLoadMore()" class="view-more-comment"> Tải thêm bình luận </a>
                
                <div *ngFor="let item of comments" class="post-comments-single">
                    <div class="post-comment-avatar">
                        <img src="{{item.user.avatar | getImage}}" alt="">
                    </div>
                    <div class="post-comment-text">
                        <div class="post-comment-text-inner">
                            <h6> {{item.user.full_name}} </h6>
                            <p> {{item.content}} </p>
                        </div>
                        <div class="uk-text-small">
                            <i class="uil-clock"></i>
                            <span> {{item.created_at | timeago}} </span>
                        </div>
                    </div>
                </div>

                <div class="post-add-comment">
                    <div class="post-add-comment-avature">
                        <img src="{{user?.avatar | getImage}}" alt="{{user?.full_name}}">
                    </div>
                    <div class="post-add-comment-text-area">
                        <form [formGroup]="form" (ngSubmit)="onSubmit()">
                            <input type="text" formControlName="content" placeholder="Viết bình luận...">
                        </form>
                    </div>
                </div>
            </div>
        
            <p-dialog header="Đã thích bài viết này" [(visible)]="modalUserLikes" [style]="{ minWidth: '300px' }" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
                <a *ngFor="let user of newfeedsLike" [routerLink]="['/profile', user.id]" >
                    <div class="contact-list">
                        <div class="contact-list-media">
                            <img src="{{user.avatar | getImage}}" alt="{{user.full_name}}">
                            <span [ngClass]="{
                                'online-dot': socket.checkStatus(user.id),
                                'offline-dot': !socket.checkStatus(user.id)
                            }"></span>
                        </div>
                        <h5> {{user.full_name}} </h5>
                    </div>
                </a>
                <div class="sp sp-circle" *ngIf="loadingUserLikes"></div>
            </p-dialog>
        </div>
    </div>

    <app-ds-online class="uk-width-expand"></app-ds-online>
</div>