<!-- notificiation icon  -->
<a href="#" class="opts_icon" uk-tooltip="title: Notifications ; pos: bottom ;offset:7">
    <img src="assets/images/icons/bell.svg" alt=""> <span>3</span>
</a>

<!-- notificiation dropdown -->
<div uk-dropdown="mode:click ; animation: uk-animation-slide-bottom-small" class="dropdown-notifications">

    <!-- notification contents -->
    <div class="dropdown-notifications-content" data-simplebar>

        <!-- notivication header -->
        <div class="dropdown-notifications-headline">
            <h4>Notifications </h4>
        </div>

        <!-- notiviation list -->
        <ul>
            <!-- start notification -->
            <li>
                <a href="#">
                    <span class="notification-avatar">
                        <img src="assets/images/avatars/avatar-2.jpg" alt="">
                    </span>
                    <span class="notification-icon bg-gradient-primary">
                        <i class="icon-feather-thumbs-up"></i></span>
                    <span class="notification-text">
                        <strong>Adrian Moh.</strong> Like Your Comment On Video
                        <span class="text-primary">Learn Prototype Faster</span>
                        <br> <span class="time-ago"> 9 hours ago </span>
                    </span>
                </a>
            </li>
            <!-- end notification -->
        </ul>
    </div>
</div>