<ng-container *ngIf="user_view">
    <div class="profile">
        <div class="profile-cover">
            <!-- profile cover -->
            <img src="assets/images/avatars/profile-cover.jpg" alt="">
        </div>
    
        <div class="profile-details">
            <div class="profile-image">
                <img src="{{user_view.avatar | getImage:0}}" alt="">
            </div>
            <div class="profile-details-info">
                <h1> {{user_view.fullName}} </h1>
                <p> {{user_view.story}} </p>
            </div>
        </div>
    
        <div class="nav-profile" uk-sticky="offset:61;media : @s">
            <div class="py-md-2 uk-flex-last">
                <a *ngIf="!uid" [routerLink]="['/profile/edit']" rou class="button primary mr-2"> <i class="uil-cog"></i> Chỉnh sửa thông tin</a>
                <a *ngIf="uid" href="#" class="button primary mr-2"> <i class="uil-facebook-messenger-alt"></i> Gửi tin nhắn</a>
            </div>
            <div>
                <nav class="responsive-tab">
                    <ul>
                        <li class="uk-active"><a class="active" href="#">Dòng thời gian</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    
    
    <div class="section-small">
        <div uk-grid>
            <div class="uk-width-2-3@m fead-area">
                <!-- start post -->
                <div class="post">
                    <div class="post-heading">
                        <div class="post-avature">
                            <img src="assets/images/avatars/avatar-6.jpg" alt="">
                        </div>
                        <div class="post-title">
                            <h4> Mariah Ali </h4>
                            <p> 5 <span> hrs</span> <i class="uil-users-alt"></i> </p>
                        </div>
        
                        <div class="post-btn-action">
                            <span class="icon-more uil-ellipsis-h"></span>
                            <div class="mt-0 p-2" uk-dropdown="pos: bottom-right;mode:hover ">
                                <ul class="uk-nav uk-dropdown-nav">
                                    <li><a href="#"> <i class="uil-edit-alt mr-1"></i> Sửa </a></li>
                                    <li><a href="#" class="text-danger"> <i class="uil-trash-alt mr-1"></i> Xóa </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="post-description">
                        <p>Đây là dòng văn bản</p>
                        <div class="uk-grid-small" uk-grid>
                            <div class="uk-width-1-1@m">
                                <img src="assets/images/post/img-4.jpg" class="rounded" alt="">
                            </div>
                            <div class="uk-width-1-2@m uk-width-1-2">
                                <img src="assets/images/post/img-2.jpg" class="rounded" alt="">
                            </div>
                            <div class="uk-width-1-2@m uk-width-1-2 uk-position-relative">
                                <img src="assets/images/post/img-3.jpg" class="rounded" alt="">
                                <div class="uk-position-center uk-light">
                                    <a href="#">
                                        <h3> + 15 more </h3>
                                    </a></div>
                            </div>
                        </div>
        
                        <!-- <div class="fullsizeimg">
                            <img src="assets/images/post/img-1.jpg" alt="">
                        </div> -->
        
                        <div class="post-state-details">
                            <div>
                                <img src="assets/images/icons/reactions_like.png" alt="">
                                <p> 13 </p>
                            </div>
                            <p> 24 Comments</p>
                        </div>
        
                    </div>
        
                    <div class="post-state">
                        <div class="post-state-btns"> <i class="uil-thumbs-up"></i> 13<span> Liked </span>
                        </div>
                        <div class="post-state-btns"> <i class="uil-heart"></i> 18 <span> Coments</span>
                        </div>
                    </div>
        
                    <!-- post comments -->
                    <div class="post-comments">
                        <div class="post-add-comment">
                            <div class="post-add-comment-avature">
                                <img src="assets/images/avatars/avatar-2.jpg" alt="">
                            </div>
                            <div class="post-add-comment-text-area">
                                <input type="text" placeholder="Write your comment...">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end post -->
            </div>
    
            <!-- sidebar -->
            <div class="uk-width-expand ml-lg-2">
                <h3> Thông tin cá nhân </h3>
                <div class="list-group-items">
                    <i class="uil-phone"></i>
                    <h5> Số điện thoại: <span> {{user_view.phoneNumber}} </span> </h5>
                </div>
                <div class="list-group-items">
                    <i class="uil-location-point"></i>
                    <h5> Địa chỉ: <span> {{user_view.address}} </span> </h5>
                </div>
                <div class="list-group-items">
                    <i class="uil-calendar-alt"></i>
                    <h5> Sinh nhật: <span> {{user_view.birthday | date:'dd/MM/yyyy'}} </span> </h5>
                </div>
                <div class="list-group-items">
                    <i class="uil-thumbs-up"></i>
                    <h5> Số link: <span> 1.000 </span> </h5>
                </div>
                <div class="list-group-items">
                    <i class="uil-rss"></i>
                    <h5> Có <span> 3,240 </span> <span> người theo dõi </span> </h5>
                </div>
            </div>
        </div>
    </div>
</ng-container>