

<!-- Message  notificiation dropdown -->
<a [routerLink]="['/chat']"  class="opts_icon" uk-tooltip="title: Tin nhắn ; pos: bottom ;offset:7">
    <img src="assets/images/icons/chat.svg" alt=""> <span>{{count}}</span>
</a>

<!-- Message  notificiation dropdown -->
<!-- <div uk-dropdown="mode:click ; animation: uk-animation-slide-bottom-small" class="dropdown-notifications">

    <div class="dropdown-notifications-content" data-simplebar>

        <div class="dropdown-notifications-headline">
            <h4>Messages</h4>
        </div>

        <ul>
            <li>
                <a href="#">
                    <span class="notification-avatar status-online">
                        <img src="assets/images/avatars/avatar-2.jpg" alt="">
                    </span>
                    <div class="notification-text notification-msg-text">
                        <strong>Jonathan Madano</strong>
                        <p>Thanks for The Answer ... <span class="time-ago"> 2 h </span> </p>

                    </div>
                </a>
            </li>
        </ul>

    </div>
    <div class="dropdown-notifications-footer">
        <a href="#"> See all in Messages</a>
    </div>
</div> -->