
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-form-title" style="background-image: url(/assets/login-page/images/bg-01.jpg);">
                <span class="login100-form-title-1">
                    Đăng Ký
                </span>
            </div>

            <form class="login100-form validate-form">
                <div class="wrap-input100 m-b-26">
                    <span class="label-input100">Họ tên</span>
                    <input class="input100" type="email" name="text" placeholder="Nhập họ tên">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 m-b-26">
                    <span class="label-input100">Email</span>
                    <input class="input100" type="email" name="email" placeholder="Nhập email">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 m-b-18">
                    <span class="label-input100">Mật khẩu</span>
                    <input class="input100" type="password" name="pass" placeholder="Nhập mật khẩu">
                    <span class="focus-input100"></span>
                </div>

                <div class="flex-sb-m w-full p-b-30">
                    <div class="contact100-form-checkbox">
                        <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                        <label class="label-checkbox100" for="ckb1">
                            Nhớ tài khoản
                        </label>
                    </div>

                    <div>
                        <a href="#" class="txt1">
                            Quên mật khẩu
                        </a>
                    </div>
                </div>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                        Đăng ký
                    </button>

                    <button class="login100-form-btn red ml-5" [routerLink]="['/login']">
                        Đăng nhập
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>